﻿@model WSDLLC.INoFear.Domain.Models.AdminstratorModel

@{
    ViewBag.Title = "EditAdmin";
}

<h2>EditAdmin</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Adminstrator</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
 
        @Html.HiddenFor(model => model.AdminstratorId, new { htmlAttributes = new { @class = "form-control" } })
       
        <div class="form-group">
            @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Pin, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Pin, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Pin, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.AuthLevel, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("AuthLevel", WSDLLC.INoFear.AppService.Helpers.HtmlExtensions.AuthLevelDropDown((int)Model.AuthLevel), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Pin, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Admin List", "AllAdmins")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
