﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<script type="text/javascript">
    function Search(isCertified, pageIndex1)
    {
        $('#ajaxloaderconatiner').show();
        $.ajax({
            url: '/Admin/SearchProtectors',
            mType: 'POST',
            data: {
                certified: isCertified,
                pageIndex: pageIndex1
            },
            success: function(data)
            {
                if(data.Success)
                {
                    var total = data.Total;
                    var pages = total / 50;
                    if(total % 50 > 0)
                    {
                        pages++;
                    }
                    $('#ddlPage').html('');
                    for(var i =1 ; i <= pages;i++)
                    {
                        $('#ddlPage').append('<option value="' + i + '">'+i+'</option>');
                    }
                    $('#results').html('');
                    for(var x in data.Data)
                    {
                        var item = data.Data[x];
                        var tr = "<tr><td>" + item.FirstName + "</td><td>" + item.LastName + "</td>";
                       
                        tr += "<td>" + item.PhoneNumber + "</td><td>" + item.Username + "</td><td>Is Certified:<input type='checkbox' class='certifiedbox' protectorid='" +
                            item.ProtectorId +"' " + (item.IsCertified ? "checked='checked'":'') 
                        + "/></td>";
                      
                        tr += "<td><select class='protectortype' protectorid='" + item.ProtectorId +"'>";
                        tr += "<option value='Unarmed' " + (item.ProtectorType == 'Unarmed' ? 'selected' : '') + " >Unarmed</option>";
                        tr += "<option value='Armed' " +(item.ProtectorType == 'Armed' ? 'selected' : '')+">Armed</option>";
                        tr += "<option value='Armed With Vehicle' " +(item.ProtectorType == 'Armed With Vehicle' ? 'selected' : '')+">Armed With Vehicle</option>";
                        tr += "<option value='Armed With Armoured Vehicle' " + (item.ProtectorType == 'Armed With Armoured Vehicle' ? 'selected' : '') + ">Armed With Armoured Vehicle</option>";
                        tr += "</select></td></tr>";
                        $('#results').append(tr);
                    }
                    $('.filter-table').filterTable({ filterExpression: 'filterTableFindAny' });
                    $(".sort-table").tablesorter();
                    $('.protectortype').change(function () {
                        var val = $(this).val();
                        var id = $(this).attr('protectorid');
                        $.ajax({
                            url: '/Admin/ChangeProtectorType',
                            mType: 'POST',
                            data: {
                                'protectorId': id,
                                'protectorType': val
                            },
                            success: function(data)
                            {
                                if(data && data.Success)
                                {
                                    alert('Protector Updated!');
                                }
                            },
                            error: function(a,b,c)
                            {
                                alert(c);
                            }
                        });
                    });
                    $('.certifiedbox').change(function () {
                       
                        var id = $(this).attr('protectorid');
                        
                        if (!$(this).is(':checked')) {
                            $.ajax({
                                url: '/Admin/UnCertifyProtector',
                                mType: 'POST',
                                data: {
                                    'protectorId': id
                                },
                                success: function (data) {
                                    if (data && data.Success) {
                                        if (confirm('Protector Updated! Reload Data?')) {
                                            window.location.reload(false);
                                        }
                                    }
                                },
                                error: function (a, b, c) {
                                    alert(c);
                                }
                            });
                        }
                        else {
                            $.ajax({
                                url: '/Admin/CertifyProtector',
                                mType: 'POST',
                                data: {
                                    'protectorId': id
                                },
                                success: function (data) {
                                    if (data && data.Success) {
                                        if (confirm('Protector Updated! Reload Data?')) {
                                            window.location.reload(true);
                                        }
                                    }
                                },
                                error: function (a, b, c) {
                                    alert(c);
                                }
                            });
                        }
                    });
                }
                $('#ajaxloaderconatiner').hide();
            },
            error: function(a,b,c)
            {
                $('#ajaxloaderconatiner').hide();
                alert(c);
            }
        });
    }
    $(document).ready(function () {

        $('#btnSearch').click(function () {
            var certified = $('#ddlType').val() == 'Certified';
            var page = $('#ddlPage').val();
          
            if ($('#ddlPage').val() == null)
            {
                page = "1";
            }
            var pageIndex = parseInt(page) - 1;
            Search(certified, pageIndex);
        });
        Search(false, 0);
    });
</script>


<div>
    @if (((WSDLLC.INoFear.Domain.Models.AdminstratorModel)Session["User"]).AuthLevel == WSDLLC.INoFear.Domain.Models.AuthenticationLevel.SUPERADMIN)
    {
        @Html.ActionLink("Admin List", "AllAdmins")
    }
</div>
<div id="controls">
    <div>
        Protector Certified Status:
        <select id="ddlType">            
            <option value="Uncertified">Uncertified</option>
            <option value="Certified">Certified</option>
        </select>
    </div>
    <div>
        Page:
        <select id="ddlPage">

        </select>
    </div>
    <div>
        <input type="button" id="btnSearch" value="Search Protectors"/>
    </div>
</div>
<div id="ajaxloaderconatiner">
    <img src="~/Content/ajax-loader.gif" alt="loading..." id="ajax-loader" />
</div>
<table id="resultsTable" class="table sort-table filter-table">
    <thead>
        <tr><th>First Name</th><th>Last Name</th><th>Phone Number</th><th>Email Address</th><th>Is Certified</th><th>Protector Type</th></tr>
    </thead>
    <tbody id="results">

    </tbody>
</table>
