﻿@model IEnumerable<WSDLLC.INoFear.Domain.Models.ProtectionTransaction>

@{
    ViewBag.Title = "SearchTransactionsProtectees";
}

<h2>Search Transactions</h2>

<p>
    Start Date:
   <input class="datepicker" type="datetime" id="txtDate" name="startDate"/>
    <br/>
    <input type="button" id="btnSearch" value="Search Transaction"/>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmountCharged)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WasCancelled)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProtectionType)
        </th>
         
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AmountCharged)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WasCancelled)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProtectionType)
        </td>
       
        <td>
            @Html.ActionLink("Details", "ProtecteeDetails", new { id=item.ProtectionTransactionId })
        </td>
    </tr>
}

</table>
