﻿
@{
    ViewBag.Title = "ClientPasswordReset";
}

<h2>Client Password Reset</h2>
<div>
    @ViewBag.Message
</div>
@using (Html.BeginForm())
{
  
    <table class="table">
        <tr><td>Enter your phone number:</td><td><input type="tel" id="phone" name="phone" /></td></tr>
        <tr><td colspan="2"><input type="submit" value="Submit" /></td></tr>
    </table>

}